//sass kiegesziti importtal: a ~ azt jelenti, hogy a node_modulson belul a bootstrapot keresi:
@import '~bootstrap';

:root {
    --font-color:#242424;
    --primary-color: #00C4C4;
    --primary-light-color: #90DEDE;
    --secondary-color: #004545;
   
}

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
}

.header {
    background-color: var(--primary-color);
    padding: 2px 24px;
}

.search-bar {
    background-color: var(--primary-light-color);
    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.75);
}

.form-container {
   form {
    display: flex;
    align-items: center;
    margin-bottom: 0px;

} 
}

.form-item {
    margin-right: 16px;
    input {
        line-height: 32px;
        height: 32px;
        border: 1px solid #747474;
        border-radius: 4px;
        /* ezt nézi a flex nél! 200px a 3 1 auto-nal: */
        width: 200px;
        padding: 0 8px;
        background-color: rgba(255,255,255,0.8);
    }
}


#city {
    /* Ez jó: */
    flex: 3 1 auto;
    input{
        width: 100%;
    }
}

.content, .search-bar {
    padding: 16px;
    
}

.horizontal-spacer{
   flex: 1 1 auto; 
   

}
button{
    background: none;
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.35);

    &:hover {
    color: white;
    background-color: #008f80;
}
    &:focus {
    outline: none;
    background-color: #00c4c4;
    color: var(--font-color);
}
}
.error-message {
    margin-top: 20px;
    background-color: #c62828;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    
}
.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
degulion-card {
    width: 25%;
    animation: fadeIn 3s;
}

.torles {
   margin-left:0;
   margin-right: auto;
   &:hover {
    color: white;
    background-color: #008f80;
}
    &:focus {
    outline: none;
    background-color: #00c4c4;
    color: var(--font-color);
}
}
    

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

//loader innen kezdődik:

.loader {
    color: #00c4c4;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  // loader itt er veget